body {
    background-color: red;
}

h1 {
    color: white;
}

.active {
    color: red;
    font-weight: bold;
    /* background-color: red; */
}

.score {
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: white;
}